<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <target xsi:type="File" name="errorFile"
            fileName="${basedir}/Logs/${shortdate}/Errors/log-error-${shortdate}.log"
            archiveFileName="${basedir}/Logs/${shortdate}/Errors/${shortdate}.{####}.log"
            layout="${longdate}|${uppercase:${level}}|${mdc:item=session-id}|${mdc:item=identity}|${message}${exception:format=toString}"
            archiveAboveSize ="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"/>

    <target xsi:type="File" name="infoFile"
            fileName="${basedir}/Logs/${shortdate}/Info/${shortdate}.log"
            archiveFileName="${basedir}/Logs/${shortdate}/Info/${shortdate}.{####}.log"
            layout="${longdate}|${uppercase:${level}}|${mdc:item=session-id}|${mdc:item=identity}|${message}"
            archiveAboveSize ="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"/>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" levels="Error" writeTo="errorFile" />

    <logger name="*" levels="Info" writeTo="infoFile" />
  </rules>
</nlog>